.form {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center
}
.form input [type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button[type="submit"] {
  border: none;
  height: 20px;
  width: 50px;
  background-color: midnightblue;
  color:#fff;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center
}
